.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


html {
  box-sizing: border-box;
}

#root {
  /*
    z-index variables
    maxValue(10001) -> snackbar(900) -> popup(800) -> video playback(700) ->
    sidebar(600) -> Header(500) -> dropdown(400) -> fix bottom btn(300)
  */
  --zindex10001: 10001;
  --zindex900: 900;
  --zindex800: 800;
  --zindex700: 700;
  --zindex600: 600;
  --zindex500: 500;
  --zindex400: 400;
  --zindex300: 300;
  --zindex1: -1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

div,
span,
i {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: var(--constantTransparent);
}

body {
  background: var(--primaryBg) !important;
  color: var(--text) !important;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Roboto, system-ui;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--secondaryClr);
  text-decoration: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

pre,
button,
input,
select,
textarea {
  font-family: inherit;
}
